.plusMinusGame {
    background: #339966;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: xxx-large;
}

.plusMinusGame input {
    background-color: transparent;
    outline: none;
    border: 3px solid #006633;
    width: 20%;
    text-align: center;
    caret-color : #006633;
    -webkit-text-stroke: 1px #006633;
    font-size: xxx-large;
}
.plusMinusGame span {
    -webkit-text-stroke: 1px #006633;
}
.plusMinusGame h5:hover {
    -webkit-text-stroke: 1px white;
}
.plusMinusGame span:hover {
    -webkit-text-stroke: 1px white;
}


